{% comment %}
This include creates a list of clickable tags (subjects, locations, etc.) based on what's in the fields argument added to the include call. 
For an example, see pages > collection.md.
{% endcomment %}

<div class="container-fluid">
  <div class="row align-items-center" id="tag-viewport">
    <div class="col">
      <div class="owl-carousel owl-loaded owl-drag" id="tag-carousel">
        {% assign taglist = '' %}
        {{ taglist }}
        {% for item in site.data.[site.metadata] %}
          {% assign tags = item.[include.fields] | split:',' %}
          {% for tag in tags %}
              {% assign taglist = taglist | append: tag | append: ',' %}
            {% endfor %}
           {% endfor %}

            {% assign taglist = taglist | split: ',' | uniq %}
            {% for tag in taglist %}
              <div class="tag p-2 bg-light small rounded d-inline-block">
                {% capture tagURL %}/tags/#{{ tag | url_encode | url_encode }}{% endcapture %}
                <a href="{{ tagURL | relative_url }}" class="text-dark">
                {{tag}}
                </a>
              </div>
            {% endfor %}
      </div>
    </div>
  </div>
</div>


        
      
