{%- if include.pid contains '/' -%}
    {% capture video_caption %}{{ include.caption }}{% endcapture %}
    {% if include.pid contains 'vimeo' %}
    {% assign vimeo_id = include.pid | split: '/' | last %}
    {% capture video_src %}https://player.vimeo.com/video/{{ vimeo_id }}{% endcapture %}
    {%- elsif include.pid contains 'youtu' -%}
    {% assign youtube_id = include.pid | split: '/' | last %}
    {% if youtube_id contains 'v=' %}{% assign youtube_id = youtube_id | split: 'v=' | last | split: '&' | first %}
    {% elsif youtube_id contains '?' %}{% assign youtube_id = youtube_id | split: '?' | first %}{% endif %}
    {% capture video_src %}https://www.youtube-nocookie.com/embed/{{ youtube_id }}?rel=0&modestbranding=1{% endcapture %}
    {% else %}
    {% assign video_src = include.pid | relative_url %}
    {% endif %}
{%- else -%}
    {%- assign item = site.data[site.metadata] | where: "pid", include.pid | first -%}
    {% capture video_caption %}{% if include.caption %}{{ include.caption }}{% else %}<a href="{% if item.parentid %}{{ item.pid | prepend: '#' | prepend: item.parentid | prepend: '/item.html?id=' | relative_url }}{% else %}{{ item.pid | prepend: '/item.html?id=' | relative_url }}{% endif %}">{{ item.title }}</a>{% endif %}{% endcapture %}
    {% if item.vimeoid %}
    {% assign vimeo_id = item.vimeoid %}
    {% capture video_src %}https://player.vimeo.com/video/{{ vimeo_id }}{% endcapture %}
    {%- elsif item.youtubeid -%}
    {% assign youtube_id = item.youtubeid %}
    {% capture video_src %}https://www.youtube-nocookie.com/embed/{{ youtube_id }}?rel=0&modestbranding=1{% endcapture %}
    {% else %}
    {%- capture video_src -%}{% if  item.filename contains '/' %}{{ item.filename | relative_url }}{% else %}{{ item.filename | relative_url }}{% endif %}{% endcapture %}
    {% endif %}
{%- endif -%}
<div class="text-center my-4">
    <figure class="mx-auto{% if include.width %} feature-w-{{ include.width }}{% endif %}">
        <div class="ratio ratio-{{ include.ratio | default: '16x9' }}">
            {%- if video_src contains "vimeo" or video_src contains "youtu" -%}
            <iframe title="embedded video {{ video_caption | escape }}" src="{{ video_src }}" allowfullscreen width="600" height="400"></iframe>
            {% else %}
            <video width="600" height="400" controls>
                <source src="{{ video_src }}">
                Your browser does not support the video tag.
            </video>
            {%- endif -%}
        </div>
        {% unless include.caption == false %}
        <figcaption class="figure-caption">
            {{ video_caption }}
        </figcaption>
        {% endunless %}
    </figure>
</div>

