---
sitemap: false
---
/*
variable declaration
*/

/* branding */
$logo: url("{{ '/img/book.png' | absolute_url }}");

/* text */

$body-font:       'Jost', 'sans serif';
$heading-font:    'Jost', 'sans serif';


/* Image Size */

$thumbnail-height: 140px;
$thumbnail-width: 140px;

/* colors */

$text-color:      #100c01;
$bg-color:        #ffffff;
$neutral:         #D2EDF0;
$accent-light:    #14327A;
$accent-dark:     #1D1850;

/* viewport sizes */

$max-width:       800px;

/* margins */

$less-margin:     1.0rem;
$margin:          1.5rem;
$more-margin:     2.0rem;
$super-margin:    3.0rem;


$viewer-height:   550px;
$parallax-height: 350px;
$footer-height:   250px;

/*
font & asset import
*/
@media (min-width: 576px) {
    .modal-xxl {
        max-width:90%
    }
}

@media (min-width: 992px) {
    .modal-xxl {
        max-width:90%
    }
}

@media (min-width: 1200px) {
    .modal-xxl {
        max-width:90%
    }
}
@import url('https://fonts.googleapis.com/css?family=Jost:300,400,700&font-display=auto');
@import 'wax';
