---
layout: timelinedefault
---
<div class="container mt-5" id="grid-view">

    {% assign sortedItems = site.data.[site.metadata] | sort: 'dateStart' %}
    {% assign groups = sortedItems | group_by_exp:"item", "item.dateStart | truncate: 3, ''"  %}
    {% for group in groups %}
    <h1>{{ group.name }}0's</h1>
    <div class="card-deck pt-3">
      {% for item in group.items %}
      <a href="{{ item.url | relative_url }}" class="card text-white">
        {% if item.thumbnail %}
        {% capture imageURL %}{{ item.thumbnail }}{% endcapture %}
        <img class="card-img" src="{{ imageURL | relative_url }}" alt="{{ item.label }}">
        {% else %}
        <svg class="card-img" width="400px" height="400px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Item image">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
        </svg>
        {% endif %}

        <div class="card-img-overlay d-flex justify-content-center align-items-center rounded">
          <div class="text-block">
            <h1 class="text-center mb-0">
              {{ item.label }}
            </h1>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    {% endfor %}

</div>
