<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
    {{ site.title }}{% if page.label %} | {{ page.label }}{% elsif page.title %} | {{ page.title }}{% endif %}
    </title>
    <link rel="stylesheet" href="{% if site.data.map-settings.bootswatch %}https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/{{ site.data.theme.bootswatch }}/bootstrap.min.css{% else %}{{ '/assets/bootstrap.min.css' | relative_url }}{% endif %}" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/leaflet.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/leaflet.fullscreen.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/leaflet.fusesearch.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/MarkerCluster.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/MarkerCluster.Default.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/cb-styles.css' | relative_url }}" type="text/css">
    <link rel='canonical' href='{{ page.url | absolute_url }}'/>
    <link rel='icon' type='image/png' href="{{ 'img/book.png' | absolute_url }}">
    <link rel='stylesheet' href="{{ '/assets/styles.css' | absolute_url }}"/>

    <script type='text/javascript' src="{{ '/assets/jquery-3.2.1.min.js' | absolute_url }}"></script>
  </head>
  <body class="d-flex flex-column h-100">
      {% include header.html %}
      {% if page.banner %}
      {% assign b = page.banner %}
      {% include parallax_image.html collection=b.collection pid=b.pid y=b.y height=b.height image=b.image clickable=b.clickable %}
    {% endif %}
    <div id='wax-main'>
      <div id='wax-content' class='wax-inline-container'>

    <div id="map"></div>
    
      </div>
    </div>
    {% include map-js.html %}
    {% include footer.html %}
    <script type='text/javascript' async defer src='{{ "/assets/bootstrap/bootstrap.min.js" | absolute_url }}'></script>
    <script type='text/javascript' async defer src='{{ "/assets/popper.min.js" | absolute_url }}'></script>
  </body>
</html>

<script type='text/javascript' async defer src='{{ "/assets/facets.js" | absolute_url }}'></script>
