---
layout: timelinedefault
---
<div class="container mt-5" id="tag-view">
  {% assign taglist = '' %}
  {{ taglist }}
  {% for item in site.data.[site.metadata] %}
    {% assign tags = item.tTags | append: ',' | append: item.location | append: ',' | append: item.worktype | split:',' %}
    {% for tag in tags %}
      {% assign taglist = taglist | append: tag | append: ',' %}
    {% endfor %}
  {% endfor %}
  {% assign taglist = taglist | split: ',' | uniq %}
  {% for tag in taglist %}
  <div class="tag-frame" id="{{ tag | url_encode }}">
    <h1>{{ tag }}</h1>
    <div class="card-deck pt-3">
      {% for item in site.data.[site.metadata] %}
        {% assign tagsArray = item.tTags | append: ',' | append: item.location | append: ',' | append: item.worktype | split:',' %}
        {% for tagArray in tagsArray %}
          {% if tagArray == tag %}
          <a href="{{ item.url | relative_url }}" class="card text-white">

            {% if item.thumbnail %}
            {% capture imageURL %}{{ item.thumbnail }}{% endcapture %}
            <img class="card-img" src="{{ imageURL | relative_url }}" alt="{{ item.label }}">
            {% else %}
            <svg class="card-img" width="400px" height="400px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Item image">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96"></rect>
            </svg>
            {% endif %}

            <div class="card-img-overlay d-flex justify-content-center align-items-center rounded">
              <div class="text-block">
                <h1 class="text-center mb-0">
                  {{ item.label }}
                </h1>
              </div>
            </div>
          </a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}

</div>
